# Virtual Environment & Python Caches
backend/venv/
venv/
__pycache__/
*.pyc

# Node & Next.js Build Files
frontend/node_modules/
frontend/.next/
.next/
node_modules/

# Environment Variables
.env
.env.local

# OS / Editor Files
.DS_Store
*.log
